openapi: 3.0.3
info:
  title: Houma Middleware API
  version: 1.0.0
  description: |
    API documentation for Houma service.
    Includes health check and user management endpoints.
  contact:
    name: Santu Pradhan
    email: santu.pradhan@indusnet.co.in

servers:
  - url: http://localhost:4000/api/v1
    description: Local development server
  - url: http://localhost:5000/api/v1
    description: Another Local development server
  - url: http://143.244.206.155:4000/api/v1
    description: Local server

tags:
  $ref: ./tags.yaml

paths:
  # General
  /healthz:
    $ref: ./paths/healthz.yaml
    # Role
  /role/get-roles:
    $ref: ./paths/role/get-roles.yaml
  # Wilayah
  /wilayah/get-wilayas:
    $ref: ./paths/wilayah/get-wilayas.yaml
  # Commune
  /commune/get-communes:
    $ref: ./paths/commune/get-communes.yaml
  # Auth
  /auth/register:
    $ref: ./paths/auth/register.yaml
  /auth/login:
    $ref: ./paths/auth/login.yaml
  /auth/forgot-password:
    $ref: ./paths/auth/forgot-password.yaml
  /auth/reset-password:
    $ref: ./paths/auth/reset-password.yaml
  # Users
  /user/get-user-lists:
    $ref: ./paths/users/get-user-lists.yaml
  /user/me:
    $ref: ./paths/users/get-user-details.yaml
  /user/create-details:
    $ref: ./paths/users/create-user-details.yaml
  /user/create-user-documents:
    $ref: ./paths/users/create-user-documents.yaml
  /user/update-user:
    $ref: ./paths/users/update-user.yaml
  /user/update-details:
    $ref: ./paths/users/update-user-details.yaml
  /user/delete-user:
    $ref: ./paths/users/delete-user.yaml
  # Amenity
  /amenity/create-amenity:
    $ref: ./paths/amenity/create-amenity.yaml
  /amenity/get-amenities:
    $ref: ./paths/amenity/get-amenity.yaml
  /amenity/update-amenity/{id}:
    $ref: ./paths/amenity/update-amenity.yaml
  /amenity/delete-amenity/{id}:
    $ref: ./paths/amenity/delete-amenity.yaml
  /amenity/detail-amenity/{id}:
    $ref: ./paths/amenity/detail-amenity.yaml
    # Property Type
  /property-type/create-property-type:
    $ref: ./paths/property-type/create-property-type.yaml
  /property-type/get-property-type:
    $ref: ./paths/property-type/get-property-type.yaml
  /property-type/update-property-type/{id}:
    $ref: ./paths/property-type/update-property-type.yaml
  /property-type/delete-property-type/{id}:
    $ref: ./paths/property-type/delete-property-type.yaml
  /property-type/detail-property-type/{id}:
    $ref: ./paths/property-type/detail-property-type.yaml
    # Property
  /property/create-property:
    $ref: ./paths/property/create-property.yaml
  /property/get-properties:
    $ref: ./paths/property/get-property.yaml
  /property/update-property/{id}:
    $ref: ./paths/property/update-property.yaml
  /property/delete-property/{id}:
    $ref: ./paths/property/delete-property.yaml
  /property/detail-property/{id}:
    $ref: ./paths/property/detail-property.yaml
  # Property Media
  /property/create-property-media:
    $ref: ./paths/property-media/create-property-media.yaml
  /property/delete-property-media/{id}:
    $ref: ./paths/property-media/delete-property-media.yaml
  /property/get-property-media:
    $ref: ./paths/property-media/get-property-media.yaml
  /property/detail-property-media/{id}:
    $ref: ./paths/property-media/detail-property-media.yaml
  /property/update-property-media/{id}:
    $ref: ./paths/property-media/update-property-media.yaml
  # Project
  /project/create-project:
    $ref: ./paths/project/create-project.yaml
  /project/get-projects:
    $ref: ./paths/project/get-projects.yaml
  /project/update-project/{id}:
    $ref: ./paths/project/update-project.yaml
  /project/delete-project/{id}:
    $ref: ./paths/project/delete-project.yaml
  /project/detail-project/{id}:
    $ref: ./paths/project/detail-project.yaml
  # Project Media
  /project/create-project-media:
    $ref: ./paths/project-media/create-project-media.yaml
  /project/delete-project-media/{id}:
    $ref: ./paths/project-media/delete-project-media.yaml
  /project/get-project-media:
    $ref: ./paths/project-media/get-project-media.yaml
  /project/detail-project-media/{id}:
    $ref: ./paths/project-media/detail-project-media.yaml
  /project/update-project-media/{id}:
    $ref: ./paths/project-media/update-project-media.yaml

components:
  schemas:
    HealthInfo:
      $ref: ./components/schemas/HealthInfo.yaml
  securitySchemes:
    $ref: ./securitySchemes/_index.yaml

  responses:
    NotFound:
      $ref: ./components/responses/ErrorResponse.yaml
    Unauthorized:
      $ref: ./components/responses/ErrorResponse.yaml

# Global security applied to all endpoints
security:
  - BearerAuth: []
